name: Build APK
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0' # Use the version the app expects

      - name: Get Dependencies
        run: flutter pub get
      - name: Build APK
        # Building for arm64-v8a specifically to match your jniLibs folder
        run: flutter build apk --release --target-platform android-arm64
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: local-diffusion-fix
          path: build/app/outputs/flutter-apk/app-release.apk
